{% extends 'base.html.twig' %}
{% block title %}Register{% endblock %}
{% block header %}<h1>Register a new user</h1>{% endblock %}
{% block overcontent %}
<section class="overnav">
{{ form(form) }}
</section>
{% endblock %}
