{% extends 'base.html.twig' %}

{% block header %}<h1>Gestionnaire de ressources</h1>{% endblock %}

{% block title %}Page d'accueil{% endblock %}
{% block nav %}{% include 'menus.html.twig' %}{% endblock %}

{% block content %}Hey hey!{% endblock %}
